{{> login-status-header}}

{{> hero-section}}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="large-12 cell forum-title">
      <h2 class="text-center">Web Developer Forum</h2>
    </div>
    <div class="large-12 cell breadcrumbs-wrap">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="/">Forum Home</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Viewing Post {{id}}
          </li>
        </ul>
      </nav>
    </div>
    <div class="large-3 medium-4 cell have-we-met">
      {{> login-status}}
    </div>
    <div class="large-9 medium-8 cell mt-neg-40">
      <div class="post-item">
        <div class="post-text">
          <a href="/viewpost/{{id}}">
            <h3 class="post-title">{{title}}</h3>
          </a>
          <div class="post-meta">
            <span class="meta"><i>by <a class="meta-text">{{user.username}}</a></i></span>
          </div>
          <div class="post-summary">
            <p>{{post_text}}</p>
            <a href="/" class="post-read-more">Back to the forum</a>
          </div>
        </div>
        {{#if logged_in}}
        <form class="delete-post" id="delete-post">
          <input type="submit" class="button orange expanded post-form" value="Delete Post"></input>
        </form>
        {{else}}
        {{/if}}



      </div>

      {{> comment-section}}

    </div>
  </div>
</div>


<div class="grid-x grid-padding-x grid-padding-y footer">
  <div class="large-12 medium-12 cell">
    <ul class="menu">
      <li class="hide-for-small-only border-right"><a href="/index">Home</a></li>
      <li class="hide-for-small-only border-right"><a href="/login">Log in</a></li>
      <li class="hide-for-small-only border-right"><a href="/signup">Sign up</a></li>
      <li><a href="/">&copy;2022 Collective Cup, Inc.</a></li>
    </ul>
  </div>
</div>
<script src="/assets/js/logout.js"></script>
<script src="/assets/js/createpost.js"></script>
<script src="/assets/js/createcomment.js"></script>
<script src="/assets/js/deletepost.js"></script>